a{
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    padding: 40px 372px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    font-family: 'Inter';
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 14px;
}

.home_page{
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.top_menu{
    margin-bottom: 84px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14.792px;
    padding-right: 0.878px;
}

.img_logo{
    width: 35px;
    height: 40px;
    flex-shrink: 0;
}

.right_menu{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}
.menu_tab{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #F25822;
    gap: 6px;
}
.img_icon{
    width: 10px;
    height: 10px;
}
.home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.home_meta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.title_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    color: #000;
}
.subtitle_text{
    font-size: 20px;
    line-height: 140%;
    color: #888;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}
.button{
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    font-size: 16px;
    font-weight: 600;
    background: #F25822;
    color: #FFF;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}
.button_text{
    font-size: 16px;
    font-weight: 600;
    color: #AAA;
}
.home_img{
    flex-shrink: 0;
    background: white / cover no-repeat;
}
.brand_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.brand_img{
    width: 160px;
    height: 50px;
}
.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    background: rgb(255, 255, 255);

}
.feature_el{
    padding: 40px 34px 40px 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}
.rectangle_1{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: rgba(242, 88, 34, 0.25);
    display: flex;
    justify-content: center;
    align-items: center
}
.rectangle_2{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: rgba(20, 146, 17, 0.28);
    display: flex;
    justify-content: center;
    align-items: center
}
.rectangle_3{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: rgba(255, 205, 29, 0.24);
    display: flex;
    justify-content: center;
    align-items: center
}
.vector{
    width: 27.78px;
    height: 25px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background: rgb(250, 250, 250);
}
.secation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;    
}
.secation_title{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}
.secation_subtitle{
    width: 75%;
    color: rgb(136, 136, 136);
    font-size: 16px;
    line-height: 140%;
    text-align: center;    
}
.service{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.service_01{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 34px 34px 34px;
    background: rgb(255, 255, 255);
    gap: 32px;

}
.down_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}
.down_block_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.service_title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}
.service_subtitle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 150%;
    text-align: center;

}
.service_btn{
    width: 10px;
    height: 10px;
}
.btn_Learn_More{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}